<!-- <div class="page-layout blank p-24" perfect-scrollbar>
  <div fxLayout="column">
    <mat-card>
      <form [formGroup]="RegistrationForm" (ngSubmit)="SaveForm()">
        <div fxLayout="row" class="margTOP">
          <div fxFlex="5">
            <i class="mdi mdi-account-box fontclass"></i>
          </div>
          <div fxFlex="95">
            <mat-form-field>
              <input formControlName="firstName" matInput placeholder="First Name">
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="row">
          <div fxFlex="5">
            <i class="mdi mdi-account-box-outline fontclass"></i>
          </div>
          <div fxFlex="95">
            <mat-form-field>
              <input formControlName="lastName" matInput placeholder="Last Name">
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="row" class="genderStyle">
          <div fxFlex="5">
            <i class="mdi mdi-gender-male-female fontclass"></i>
          </div>
          <div fxFlex="95">
            <mat-form-field>
              <input formControlName="email" matInput placeholder="Email">
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="row">
          <div fxFlex="5">
            <i class="mdi mdi-map-marker fontclass"></i>
          </div>
          <div fxFlex="95">
            <mat-form-field>
              <input formControlName="password" type="password" matInput placeholder="Password" />
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="row">
          <div fxFlex="5">
            <i class="mdi mdi-map-marker fontclass"></i>
          </div>
          <div fxFlex="95">
            <mat-form-field>
              <input formControlName="designation" matInput placeholder="designation" />
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="row">
          <div fxFlex="5">
            <i class="mdi mdi-cellphone-iphone fontclass"></i>
          </div>
          <div fxFlex="95">
            <mat-form-field>
              <input formControlName="phoneNo" matInput placeholder="Mobile No" pattern="[0-9]*" minlength="10" maxlength="10">
            </mat-form-field>
          </div>
        </div>

        <mat-toolbar>
          <button type="submit" [disabled]="!RegistrationForm.valid" mat-raised-button color="accent"> Submit</button>
          <button type="reset" mat-raised-button color="warn" style="margin-left:15px;"> Clear</button>
        </mat-toolbar>
      </form>
    </mat-card>
  </div>
</div> -->